<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Ratespiel.Properties.Settings.ConnectionStringMaria"
            connectionString="Server=localhost;Port=3306;Database=Ratespiel;Uid=root;Charset=UTF8;" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>